#row1 {
    padding-top: 40px;
}

h2 {
    color: #128C85;
}

h4, h5 {
    color: #17252A;
}

.mail_links {
    color: #14A098;
}

.mail_links:hover {
    color: #aa00b4;
}

.supported_links {
    text-decoration: none;
    color: #17252A;
}

.supported_links:hover {
    color: #14A098;
}



