body {
    display: flex;
    flex-direction: column;
}

/*设置一个content使footer置底*/
.content {
    flex: 1;
}

footer {
    /*background-color: rgba(204, 204, 204, 0.2);*/
    background-color: rgba(221, 221, 221, 1);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 275px;
    /*padding: 100px 50%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

/*三张LOGO图片的大小和间距*/
.school {
    width: 120px;
    height: 120px;
    margin: 10px 10px 0 10px;
}

/*三张LOGO图片的位置*/
.school_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0;
}

/*flask图片的大小*/
.flask {
    width: 80px;
    height: 30px;
}

/*flask图片和Copy的位置&样式*/
.flask_copy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.flask_copy p {
    font-size: 15px;
    margin: 0 0 0 20px;
}

.school_links {
    text-decoration: none;
}

.school_links:link, .school_links:visited {
    color: #009973;
}

.school_links:hover, .school_links:active {
    color: rgb(0, 96, 85);
}