* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: MyFont, Arial, sans-serif;
    min-height: 200vh;
}

header {
    /*background-image: linear-gradient(to right, rgba(153, 204, 153, 1),
    rgba(153, 204, 153, 0.45), rgba(153, 204, 153, 1));*/
    /*background-color: rgb(153, 204, 153);*/
    /*background-color: black;*/
    background-color: rgba(204, 204, 204, 0.2);
    position: sticky;   /* !!!!! */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 25px 10%;
    box-shadow: 0 3px 5px darkgray;
    z-index: 10000;
}

header.sticky {
    padding: 10px 10%;
    background-color: rgba(204, 204, 204, 0.6);
}

header .logo {
    position: relative;
    font-weight: bold;
    color: #009973;
    /*color: #009999;*/
    /*color: rgb(66, 170, 145);*/
    text-decoration: none;
    font-size: 32px;
    transition: 0.3s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    position: relative;
    list-style-type: none;
}

header ul li a {
    position: relative;
    margin: 0 25px;
    text-decoration: none;
    color: #009973;
    /*color: rgb(66, 170, 145);*/
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
    display: inline-block;
}

header ul li a:hover, a:active {
    /*color: #cc6699;*/
    color: rgb(0, 96, 85);
    /*text-decoration: underline;*/
    padding-bottom: 8px;
    border-bottom: 2px solid;
}

header a.logo:hover, a.logo:active {
    color: rgb(0, 96, 85);
    /*text-decoration: none;*/
    padding-bottom: 0;
    border-bottom: none;
}

header.sticky .logo, ul li a {
    color: #009973;
    /*color: rgb(66, 170, 145);*/
}

