* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MyFont, Arial, sans-serif;

    /*网页元素调整*/

	/*outline:solid #f00 1px !important;*/
	/*background: #000 !important;*/
	/*color: #fff !important;*/
}

header {
    /*background-image: linear-gradient(to right, rgba(153, 204, 153, 1),
    rgba(153, 204, 153, 0.45), rgba(153, 204, 153, 1));*/

    /*background-color: rgba(238, 238, 238, 1);*/
    background-color: #F7F9FB;
    position: sticky;   /* !!!!! */
    top: 0;
    left: 0;
    /*bottom: 0;*/
    right: 0;
    width: 100%;    /*width: 100%*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    padding: 25px 10%;
    box-shadow: 0 5px 8px darkgray;
    /*border-radius: 0 0 90px 90px;*/
    z-index: 10000;
    /*height: 12vh;*/
    height: 80px;
}

header.sticky {
    padding: 10px 10%;
    background-color: #F7F9FB;
    /*background-color: rgba(230, 230, 230, 1);*/
    /*background-color: rgba(221, 221, 221, 1);*/
    /*height: 8vh;*/
    height: 60px;
}

.logo {
    position: relative;
    font-weight: bold;
    color: #17252A;
    text-decoration: none;
    font-size: 32px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
}

.navbar_right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 60px;*/
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    /*padding: 0;*/
}

.navbar_list {
    position: relative;
    list-style-type: none;
}

.navbar_button {
    position: relative;
    margin: 0 25px;
    text-decoration: none;
    color: #17252A;
    /*color: #009973;*/
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    /*display: inline-block;   !* add underline 弹开效果 不稳定 *!*/
}

.navbar_button:hover, .navbar_button:active {
    /*color: #009973;*/
    color: #128C85;
    padding-bottom: 6px;   /* add underline */
    border-bottom: 2px solid;   /* add underline */
}

.logo:hover, .logo:active {
    /*color: rgb(0, 96, 85);*/
    /*color: #009973;*/
    color: #128C85;
}

.highlight {
    /*color: #009973;*/
    color: #128C85;
    padding-bottom: 6px;
    border-bottom: 2px solid;
}

/*响应式布局适用于小于750px时展现的布局*/
/*小于750px时导航栏变为下拉菜单模式*/

label[for="nav-checkbox"] {
    display: none;
}

#nav-checkbox {
    /*width: 0;*/
    /*height: 0;*/
    display: none;
}

@media only screen and (max-width: 750px) {
    header {
        /*flex-wrap: wrap;*/
        justify-content: space-between;
        /*position: relative;*/
    }

    label[for="nav-checkbox"] {
        width: 54px;
        height: 45px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: #17252A 2px solid;
        color: #17252A;
        border-radius: 10px;
    }

    label[for="nav-checkbox"]:hover {
        color: #128C85;
        border: 3px #128C85 solid;
    }

    #nav-checkbox:checked + label {
        color: #128C85;
        border: 3px #128C85 solid;
    }

    .navbar_right {
        display: none;
        position: absolute;
        top: 80px;
        /*top: 12vh;*/
        right: 0;
        padding: 0 10% 10px 10%;
        flex: 0 0 100%;
        width: 100%;
        background-color: #F7F9FB;
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
    }

    .navbar {
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
        width: 100%;
        height: 250px;  /* 高度不够会变横向 */
    }

    .navbar_list {
        padding: 13px 0;
        width: 100%;
    }

    #navlist_home {
        padding-top: 3px;
    }

    .navbar_button {
        display: flex;
        width: 100%;
        margin: 0;
    }

    .navbar_button:hover, .navbar_button:active {
        padding-bottom: 0;
        border-bottom: 0;
    }

    #nav-checkbox:checked ~ .navbar_right {
        display: flex;
        /*position: absolute;*/
        /*top: 12vh;*/
        /*right: 0;*/
        /*padding: 0 10% 10px 10%;*/
        /*background-color: rgba(238, 238, 238, 1);*/
        z-index: 10000;
        box-shadow: 0 7px 5px -5px darkgray;
        transition: 0.7s;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -ms-transition: 0.7s;
        /*animation: dropdown 0.45s;*/
    }

    header.sticky #nav-checkbox:checked ~ .navbar_right {
        top: 60px;
        /*top: 8vh;*/
        background-color: #F7F9FB;
        transition: 0.7s;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -ms-transition: 0.7s;
    }
}

