.grid {
    display: grid;
    grid-template-areas: 'item1 item1' 'item2 item2' 'item3 item4' 'item3 item5' 'item6 item5';
    grid-template-columns: 1fr 1fr;
}

.item1 {
    grid-area: item1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}

.item1 p {
    font-weight: bold;
    font-size: 48px;
    color: black;
}

.item2 {
    grid-area: item2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 30px 0;
}

.item2 p {
    font-weight: bold;
    font-size: 22px;
    color: #009973;
}

.item3 {
    grid-area: item3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 130px;
}

#jsme_container {
    width: 500px;
    height: 400px;
}

.item4 {
    grid-area: item4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 80px 0 0;
}

.item5 {
    grid-area: item5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px 250px 0;
}

.item6 {
    grid-area: item6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 170px 130px;   /* 设置网格与页脚的距离 */
}

/*show jsme按钮样式*/
.show-jsme {
    width: 500px;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-family: MyFont, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 30px;
    cursor: pointer;
}

.show-jsme:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}

/*input（SMILES）输入框样式*/
.input {
    width: 550px;
    line-height: 32px;
    border: 2px solid transparent;
    border-bottom-color: dimgray;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: black;
    font-size: 18px;
    font-family: MyFont, Arial, sans-serif;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus, .input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #009973;
}

.input::placeholder {
    color: #777777;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

/*submit按钮样式*/
.submit {
    width: 200px;
    padding: 1.3em 3em;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: MyFont, Arial, sans-serif;
    font-weight: bold;
    color: #009973;
    background-color: #ffffff;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.submit:hover {
    background-color: #009973;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.3);
    color: #ffffff;
    transform: translateY(-7px);
}

.submit:active {
    transform: translateY(-1px);
}

/*当页面小于1300px时改变布局*/
@media only screen and (max-width: 1300px) {
    .grid {
    display: grid;
    grid-template-areas: 'item1' 'item2' 'item4' 'item3' 'item6' 'item5';
    grid-template-columns: 1fr;
}

.item3 {
    padding: 20px 0 0 0;
}

.item4 {
    padding: 0;
}

.item5 {
    padding: 50px 0 170px 0;  /* 设置网格与页脚的距离 */
}

.item6 {
    padding: 0;
}
}

@media only screen and (max-width: 725px) {
    .item2 p {
        text-align: center;
        padding: 0 10px 0 10px;
        transition: 0.5s;
    }
}

@media only screen and (max-width: 600px) {
    .input {
        width: 475px;
        transition: 0.5s;
    }

    .show-jsme {
        width: 475px;
        transition: 0.5s;
    }

    #jsme_container {
        width: 475px;
        height: 380px;
        transition: 0.5s;
    }
}

@media only screen and (max-width: 550px) {
    .input {
        width: 430px;
        transition: 0.5s;
    }

    .show-jsme {
        width: 430px;
        transition: 0.5s;
    }

    #jsme_container {
        width: 430px;
        height: 344px;
        transition: 0.5s;
    }
}
