#title_Predict {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 30px 0;
    font-weight: bold;
    color: #17252A;
}

#input_alert {
    position: relative;
    width: 60%;
    left: 20%;
    right: 20%;
    text-align: center;
    font-family: MyFont, Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    display: none;
}

#alert_icon {
    margin-right: 15px;
    font-size: larger;
}

#tabs {
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
}

#tabsContent {
    border-radius: .375rem;
    border: 5px solid #F7F9FB;
    background: #F7F9FB;
    /* x偏移量 y偏移量（负值为左上）模糊半径 扩散半径 color，inset表示内置阴影（负值相反，为右下）*/
    box-shadow: -5px 5px 10px rgba(79, 184, 178, 0.5),
                inset -3px 3px 10px rgba(79, 184, 178, 0.5);
    transition: 0.35s ease-in-out;  /* 写在div中，不要写在hover中 */
    -webkit-transition: 0.35s ease-in-out; /* safari, Chrome, and Opera*/
    -moz-transition: 0.35s ease-in-out; /* Firefox */
    -ms-transition: 0.35s ease-in-out; /* Internet Explorer */
}

#tabsContent:hover {
    border: 5px solid rgba(108, 196, 191, 0.5);
}

#smiles_intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: bold;
    color: #17252A;
    text-align: center;
}

/* Example btn style */
#smiles_eg {
    font-size: 18px;
    font-family: MyFont, Arial, sans-serif;
    /*border-bottom: 2px solid dimgray;*/
    padding: .2rem 1em;
    line-height: 33px;
    --bg: #6c757d;  /* gray-600 */
    --hover-bg: #FB2D2E;
    --hover-text: #17252A;
    color: #F7F9FB;
    border: 1px solid var(--bg);
    border-radius: 5px;
    background: var(--bg);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
}

#smiles_eg:hover {
    color: var(--hover-text);
    transform: translate(-0.3rem, -0.3rem);
    background: var(--hover-bg);
    box-shadow: 0.3rem 0.3rem var(--bg);
    font-weight: bold;
}

#smiles_eg:active {
    transform: translate(0);
    box-shadow: none;
}

/*input（SMILES）输入框样式*/
#smiles_input {
    width: 600px;
    line-height: 32px;
    border: 2px solid transparent;
    border-bottom-color: #6c757d;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #17252A;
    font-size: 18px;
    font-family: MyFont, Arial, sans-serif;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#smiles_input:focus, #smiles_input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #14A098;
}

#smiles_input::placeholder {
    color: #777777;
}

#smiles_input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
}

/*submit按钮样式*/
.submit {
    width: 200px;
    padding: 1.3em 3em;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: MyFont, Arial, sans-serif;
    font-weight: bold;
    color: #14A098;
    background-color: #ffffff;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.submit:hover {
    background-color: #14A098;
    box-shadow: 0 15px 15px rgba(19, 206, 196, 0.3);
    color: #ffffff;
    transform: translateY(-7px);
}

.submit:active {
    transform: translateY(-1px);
}

#file_intro {
    font-weight: bold;
    color: #17252A;
}

#file_input {
    width: 650px;
    line-height: 21px;
}

#draw_intro {
    font-weight: bold;
    color: #17252A;
}

#show_jsme {
    width: 450px;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-family: MyFont, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 30px;
    cursor: pointer;
}

#show_jsme:active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}

@media only screen and (max-width: 768px) {
    #smiles_input {
        width: 85%;
    }

    #file_input {
        width: 85%;
    }
}
