{% extends "base.html" %}

{% block about %}
<link rel="stylesheet" href="../static/css/about.css" type="text/css">

<div class="container g-0 mb-5">
    <div class="row g-0 d-flex flex-column justify-content-start" id="row1"><h2 class="m-0 mb-1">Contact us</h2>
        <div class="col-12 align-self-start pb-3 pt-4"><h4 class="m-0">Xiang Li</h4></div>
        <div class="col-12 align-self-start pb-2">
            <h5 class="m-0"><i class="fas fa-university fa-fw"></i>&nbspInstitution: Laboratory of Molecular Modeling & Design, School of Pharmacy, East China University of Science and Technology.</h5>
        </div>
        <div class="col-12 align-self-start pb-2"><h5 class="m-0"><i class="fas fa-map-pin fa-fw"></i>&nbspAddress: 130 Meilong Road, Shanghai 200237, China.</h5></div>
        <div class="col-12 align-self-start pb-4" style="border-bottom: 1px solid rgba(172, 174, 175, 0.5);"><h5 class="m-0">
            <i class="fas fa-envelope fa-fw"></i>&nbspE-mail: <a href="mailto:19003667@mail.ecust.edu.cn" class="mail_links">19003667@mail.ecust.edu.cn</a></h5></div>

        <div class="col-12 align-self-start pb-3 pt-4"><h4 class="m-0">Prof. Weihua Li</h4></div>
        <div class="col-12 align-self-start pb-2">
            <h5 class="m-0"><i class="fas fa-university fa-fw"></i>&nbspInstitution: Laboratory of Molecular Modeling & Design, School of Pharmacy, East China University of Science and Technology.</h5>
        </div>
        <div class="col-12 align-self-start pb-2"><h5 class="m-0"><i class="fas fa-map-pin fa-fw"></i>&nbspAddress: 130 Meilong Road, Shanghai 200237, China.</h5></div>
        <div class="col-12 align-self-start pb-4" style="border-bottom: 1px solid rgba(172, 174, 175, 0.5);"><h5 class="m-0">
            <i class="fas fa-envelope fa-fw"></i>&nbspE-mail: <a href="mailto:whli@ecust.edu.cn" class="mail_links">whli@ecust.edu.cn</a></h5></div>
    </div>

    <div class="row g-0 d-flex flex-column justify-content-start mt-4" id="row2"><h2 class="m-0 mb-1">Supported by</h2>
        <div class="col-12 align-self-start pb-3 pt-4"><h5 class="m-0"><i class="far fa-compass fa-fw"></i><a href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank" rel="noopener noreferrer nofollow" class="supported_links">&nbspFlask</a></h5></div>
        <div class="col-12 align-self-start pb-3"><h5 class="m-0"><i class="far fa-compass fa-fw"></i><a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer nofollow" class="supported_links">&nbspBootstrap</a></h5></div>
        <div class="col-12 align-self-start pb-3"><h5 class="m-0"><i class="far fa-compass fa-fw"></i><a href="https://www.rdkit.org/" target="_blank" rel="noopener noreferrer nofollow" class="supported_links">&nbspRDKit</a></h5></div>
        <div class="col-12 align-self-start pb-3"><h5 class="m-0"><i class="far fa-compass fa-fw"></i><a href="https://deepchem.io/" target="_blank" rel="noopener noreferrer nofollow" class="supported_links">&nbspDeepChem</a></h5></div>
        <div class="col-12 align-self-start pb-3"><h5 class="m-0"><i class="far fa-compass fa-fw"></i><a href="https://scikit-learn.org/stable/" target="_blank" rel="noopener noreferrer nofollow" class="supported_links">&nbspscikit-learn</a></h5></div>
        <div class="col-12 align-self-start pb-3"><h5 class="m-0"><i class="far fa-compass fa-fw"></i><a href="https://jsme-editor.github.io/" target="_blank" rel="noopener noreferrer nofollow" class="supported_links">&nbspJSME</a></h5></div>
        <div class="col-12 align-self-start pb-3"><h5 class="m-0"><i class="far fa-compass fa-fw"></i><a href="https://datatables.net/" target="_blank" rel="noopener noreferrer nofollow" class="supported_links">&nbspDataTables</a></h5></div>
        <div class="col-12 align-self-start pb-4" style="border-bottom: 1px solid rgba(172, 174, 175, 0.5);">
            <h5 class="m-0"><i class="far fa-compass fa-fw"></i><a href="https://fontawesome.com/" target="_blank" rel="noopener noreferrer nofollow" class="supported_links">&nbspFont Awesome</a></h5>
        </div>
    </div>

    <div class="row g-0 d-flex flex-column justify-content-start mt-4" id="row3"><h2 class="m-0 mb-1">Visitors</h2>
        <div class="col-12 align-self-start pb-4 pt-4" style="border-bottom: 1px solid rgba(172, 174, 175, 0.5);">
            <script type="text/javascript" src="//rf.revolvermaps.com/0/0/4.js?i=5ktfnuw0ho4&amp;m=7&amp;h=192&amp;c=ff0000&amp;r=30" async="async"></script>
        </div>
    </div>
</div>

<!--<h1>Related references</h1>-->
<!--<h1>Feedback</h1>-->

<!--    Font Awesome backup-->
<!--    <i class="far fa-compass fa-fw"></i><i class="fas fa-check fa-fw"></i><i class="fas fa-search fa-fw"></i><i class="fas fa-thumbtack fa-fw"></i><i class="far fa-paper-plane fa-fw"></i><i class="fas fa-paperclip fa-fw"></i>-->

{% endblock %}