<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/ecust_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/font.css" type="text/css">
    <link rel="stylesheet" href="static/css/navbar.css" type="text/css">
    <link rel="stylesheet" href="static/css/body.css" type="text/css">
    <link rel="stylesheet" href="static/css/footer.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script src="static/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <script src="static/js/banner.js"></script>
    <title>PredCyp-{{title}}</title>
</head>
<body>
    <section class="banner"></section>
    <header>
        <a href="{{ url_for('index') }}" class="logo">PredCyp</a>

        <input type="checkbox" id="nav-checkbox">
<!--        <label for="nav-checkbox">&#9776</label>-->
        <label for="nav-checkbox" id="label"><i class="fa fa-bars"></i></label>

        <div class="navbar_right">
        <ul class="navbar">
            <li class="navbar_list" id="navlist_home"><a href="{{ url_for('index') }}" class="navbar_button">Home</a></li>
            <li class="navbar_list"><a href="{{ url_for('predict') }}" class="navbar_button">Predict</a></li>
            <li class="navbar_list"><a href="{{ url_for('results') }}" class="navbar_button">Results</a></li>
            <li class="navbar_list"><a href="{{ url_for('contact') }}" class="navbar_button">Contact</a></li>
        </ul>
        </div>
    </header>

    {% block index %}
    {% endblock %}

    {% block predict %}
    {% endblock %}

    {% block results %}
    {% endblock %}

    {% block contact %}
    {% endblock %}

    {% block none %}
    {% endblock %}

    <main class="content"></main>

<!-- 查看浏览器窗口大小 -->
    <p id="demo"></p>
    <script src="static/js/window_width.js"></script>
<!-- 查看浏览器窗口大小 -->


    <footer>
        <div class="school_img">
        <a href="https://www.ecust.edu.cn/" target="_blank" rel="noopener noreferrer nofollow">
            <img src="static/img/ecust_logo.png" alt="ecust_logo" loading="lazy" class="school"></a>
        <a href="https://pharmacy.ecust.edu.cn/" target="_blank" rel="noopener noreferrer nofollow">
            <img src="static/img/pharmacy_logo.png" alt="pharmacy_logo" loading="lazy" class="school"></a>
        <a href="http://lmmd.ecust.edu.cn/" target="_blank" rel="noopener noreferrer nofollow">
            <img src="static/img/lmmd_logo.png" alt="lmmd_logo" loading="lazy" class="school"></a>
        </div>

        <div class="flask_copy">
        <a href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank" rel="noopener noreferrer nofollow">
            <img src="static/img/flask_logo.png" alt="flask_logo" loading="lazy" class="flask"></a>
        <p>Copyright &copy 2023&nbsp<a href="http://lmmd.ecust.edu.cn/" target="_blank" rel="noopener noreferrer nofollow" class="school_links">
            Laboratory of Molecular Modeling and Design</a>,<a href="https://pharmacy.ecust.edu.cn/" target="_blank" rel="noopener noreferrer nofollow" class="school_links">
            School of Pharmacy</a>,<a href="https://www.ecust.edu.cn/" target="_blank" rel="noopener noreferrer nofollow" class="school_links">
            East China University of Science and Technology</a>.</p>
        </div>
    </footer>
<!--<script src="static/js/slide.js"></script>-->
</body>
</html>