{% extends "base.html" %}

{% block predict %}
<link rel="stylesheet" href="static/css/predict.css" type="text/css">
<script type="text/javascript" src="static/jsme/jsme.nocache.js"></script>
<script>
    function jsmeOnLoad() {
        // e.g. Azirsartan(CYP2C8 inhibitor) PubChem CID 9825285
        var startingStructure = "CCOc2nc1cccc(C(=O)O)c1n2Cc5ccc(c3ccccc3c4nc(=O)o[nH]4)cc5"
        jsmeApplet = new JSApplet.JSME("jsme_container", {"options" : "oldlook, marker, rbutton",
                                                          "smiles" : startingStructure});
        document.JME = jsmeApplet;
    }

    function getSmiles() {
        document.getElementById("smiles_input").value = document.JME.smiles();
    }
    // 如何JSME不必转换直接提交？
</script>

<div class="grid">
    <div class="item1">
        <p>Predict</p>
    </div>

    <div class="item2">
        <p>Please input a SMILES string or draw a chemical structure to predict:</p>
    </div>

    <div class="item3">
        <div id="jsme_container"></div>
    </div>

    <form action="{{ url_for('results')}}" method="post" enctype="multipart/form-data">
        <div class="smiles_input">
        <input type="file" name="file_input" accept=".sdf, .txt, .smi">
        <input class="input" id="smiles_input" name="smiles" placeholder="CCOc2nc1cccc(C(=O)O)c1n2Cc5ccc(c3ccccc3c4nc(=O)o[nH]4)cc5" type="text" required="required" maxlength="200">
        </div>
        <div class="smiles_submit">
        <button class="submit" type="submit">SUBMIT</button>
        </div>
    </form>

    <div class="item6">
<!--    <button class="show-jsme" type="button" onclick="alert(jsmeApplet.smiles())">Show SMILES</button>-->
<!--        maybe change button function to clear editor -->
        <button class="show-jsme" type="button" onclick="getSmiles()">Get SMILES</button>
    </div>
</div>

{% endblock %}