{% extends "base.html" %}

{% block predict %}
<link rel="stylesheet" href="../static/css/predict.css" type="text/css">
<link rel="stylesheet" href="../static/css/loader.css" type="text/css">
<script type="text/javascript" src="../static/JSME_2020-06-11/jsme/jsme.nocache.js"></script>
<script>
    function jsmeOnLoad() {
        // e.g. Azirsartan(CYP2C8 inhibitor) PubChem CID 9825285
        let startingStructure = "CCOc2nc1cccc(C(=O)O)c1n2Cc5ccc(c3ccccc3c4nc(=O)o[nH]4)cc5"
        jsmeApplet = new JSApplet.JSME("jsme_container", "450px", "400px", {"options" : "oldlook, marker, rbutton",
                                        "smiles" : startingStructure, "text-align" : "center"});
        document.JME = jsmeApplet;
    }
    function getSmiles() {
        document.getElementById("draw_input").value = document.JME.smiles();
    }
    // 如何JSME不必转换直接提交？
    // use XMLHttpRequest???
</script>
<script>
    function showPlaceholder() {
        document.getElementById("smiles_input").value = document.getElementById("smiles_input").getAttribute("placeholder");
}

</script>
<script>
    function showLoader(event) {
        let smilesInput = document.getElementById('smiles_input');
        let fileInput = document.getElementById("file_input");
        let drawSmilesInput = document.getElementById("draw_input")
        let smilesInputValue = smilesInput.value.trim();
        let drawSmilesInputValue = drawSmilesInput.value.trim();
        if (smilesInputValue === '' && fileInput.value === '' && drawSmilesInputValue === '') {
        event.preventDefault();
    } else {
            document.getElementById("mask").style.visibility = "visible";
            document.getElementById("loader_container").style.visibility = "visible";
            document.getElementById("loader").style.visibility = "visible";
            document.getElementById("loader_text").style.visibility = "visible";
            console.log('success')
        }
    }
</script>
<!--input alert-->
<script>
// 获取input元素和提交按钮元素
function submitForm(event) {
    // 首先阻止默认的表单提交行为
    event.preventDefault();
    let smilesInput = document.getElementById('smiles_input');
    let fileInput = document.getElementById("file_input");
    let drawSmilesInput = document.getElementById("draw_input")
    // 获取alert元素
    let alertMsg = document.getElementById('input_alert');
    // trim()修剪inputValue两边的空格，如果输入为' c1ccccc1 '，则修剪为'c1ccccc1'
    let smilesInputValue = smilesInput.value.trim();
    let drawSmilesInputValue = drawSmilesInput.value.trim();
    // 如果为空，则显示alert，否则隐藏alert
    if (smilesInputValue === '' && fileInput.value === '' && drawSmilesInputValue === '') {
        alertMsg.style.display = 'block';
        document.getElementById('title_Predict').style.padding = '50px 0 0 0';
    }
    if (smilesInputValue !== '' && fileInput.value === '' && drawSmilesInputValue === '') {
        alertMsg.style.display = 'none';
        document.getElementById('submitForm1').submit();  // 不为空则正常提交
    }
    if (smilesInputValue === '' && fileInput.value !== '' && drawSmilesInputValue === '') {
        alertMsg.style.display = 'none';
        document.getElementById('submitForm2').submit();  // 不为空则正常提交
    }
    if (smilesInputValue === '' && fileInput.value === '' && drawSmilesInputValue !== '') {
        alertMsg.style.display = 'none';
        document.getElementById('submitForm3').submit();  // 不为空则正常提交
    }
}

</script>

<div id="mask"></div>
<div id="loader_container">
    <div id="loader">
        <div class="red bar"></div>
        <div class="orange bar"></div>
        <div class="yellow bar"></div>
        <div class="green bar"></div>
        <div class="blue bar"></div>
        <div class="violet bar"></div>
    </div>
    <h3 id="loader_text" class="m-0">Please wait for the results.</h3>
</div>

<div class="container-fluid g-0 mb-5">
    <h1 id="title_Predict">-----&nbsp&nbspPredict&nbsp&nbsp-----</h1>
    <div class="alert alert-danger" id="input_alert" role="alert">
        <i class="fas fa-exclamation-triangle" id="alert_icon"></i>  <!-- Font Awesome icon -->
        Error: Invalid input, please check!
    </div>

    <div id="tabs">
        <ul class="nav custom-nav-pills nav-fill nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="smiles_tab" role="tab" data-bs-toggle="tab" aria-selected="true" href="#smiles_tab_pane">Input a SMILES string</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="draw_tab" role="tab" data-bs-toggle="tab" aria-selected="false" href="#draw_tab_pane">Draw a molecule by JSME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="file_tab" role="tab" data-bs-toggle="tab" aria-selected="false" href="#file_tab_pane">Upload file</a>
            </li>
        </ul>

        <div class="tab-content" id="tabsContent">
            <!--   tab-1   -->
            <div class="tab-pane fade show active" id="smiles_tab_pane" role="tabpanel" aria-labelledby="smiles_tab" tabindex="0">
                <form id="submitForm1" action="{{ url_for('predict') }}" method="post" onsubmit="submitForm(event); showLoader(event)">
                    <div class="row g-0 pt-md-5 pt-4 pb-md-3 pb-0 text-center">
                        <h4 id="smiles_intro">Please input a SMILES string for prediction:</h4>
                    </div>
                    <div class="row g-0 mt-4">
                        <div class="col-md-4 col-sm-12 col-12 d-flex justify-content-md-end justify-content-center align-items-center pe-md-5 ps-md-3 pe-0 ps-0">
                            <button id="smiles_eg" type="button" onclick="showPlaceholder()">Example</button>
                        </div>
                        <div class="col-md-8 col-sm-12 col-12 d-flex justify-content-md-start justify-content-center align-items-center pe-md-5 pe-0 pt-md-0 pt-3">
                            <input class="input" id="smiles_input" name="smiles" placeholder="CCOc2nc1cccc(C(=O)O)c1n2Cc5ccc(c3ccccc3c4nc(=O)o[nH]4)cc5" type="text" maxlength="200">
                        </div>
                    </div>
                    <div class="row g-0 mt-md-5 mt-4 mb-4 d-flex justify-content-center align-items-center">
                        <button class="submit" type="submit">SUBMIT</button>
                    </div>
                </form>
            </div>
            <!--   tab-2   -->
           <div class="tab-pane fade" id="draw_tab_pane" role="tabpanel" aria-labelledby="draw_tab" tabindex="0">
                <form id="submitForm3" action="{{ url_for('predict')}}" method="post" onsubmit="getSmiles(); submitForm(event); showLoader(event)">
                    <div class="row g-0 pt-md-5 pt-4 pb-md-3 pb-0 ps-md-0 ps-3 pe-md-0 pe-3 text-center d-flex justify-content-center align-items-center">
                        <h4 id="draw_intro">Please draw a molecule for prediction:</h4>
                    </div>
                    <div class="row g-0 mt-2 pb-0 ps-md-0 ps-3 pe-md-0 pe-3 d-flex justify-content-center align-items-center flex-column">
                        <div class="d-flex justify-content-center align-items-center" id="jsme_container" style="width: 100%"></div>
                        <button id="show_jsme" type="button" onclick="alert(document.JME.smiles())">Show SMILES</button>
                        <input id="draw_input" name="draw_smiles" type="hidden" maxlength="200" style="width: 450px">
                    </div>
                    <div class="row g-0 mt-4 mb-4 d-flex justify-content-center align-items-center">
                        <button class="submit" type="submit">SUBMIT</button>
                    </div>
                </form>
            </div>
            <!--   tab-3   -->
             <div class="tab-pane fade" id="file_tab_pane" role="tabpanel" aria-labelledby="file_tab" tabindex="0">
                <form id="submitForm2" action="{{ url_for('predict')}}" method="post" enctype="multipart/form-data" onsubmit="submitForm(event); showLoader(event)">
                    <div class="row g-0 pt-md-5 pt-4 pb-md-3 pb-0 text-center d-flex justify-content-center align-items-center">
                        <h4 id="file_intro">Please upload an SDF file for prediction:</h4>
                    </div>
                    <div class="row g-0 mt-4 d-flex justify-content-center align-items-center">
                        <input type="file" id="file_input" name="file_input" accept=".sdf, .txt" class="form-control" lang="en">
                    </div>
                    <div class="row g-0 mt-md-5 mt-4 mb-4 d-flex justify-content-center align-items-center">
                        <button class="submit" type="submit">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}