{% extends "base.html" %}

{% block predict %}
<link rel="stylesheet" href="static/css/predict.css" type="text/css">

<div class="grid">
    <div class="item1">
        <p>Predict</p>
    </div>

    <div class="item2">
        <p>Please input a SMILES string or draw a chemical structure to predict:</p>
    </div>

    <div class="item3">
        <div id="jsme_container"></div>
    </div>

    <div class="item4">
    <input class="input" placeholder="SMILES-Example" type="text" required="" maxlength="200">
    </div>

    <div class="item5">
    <button class="submit" type="submit">SUBMIT</button>
    </div>

    <div class="item6">
    <button class="show-jsme" type="button" onclick="alert(jsmeApplet.smiles())">Show SMILES</button>
    </div>
</div>


    <script type="text/javascript" src="static/jsme/jsme.nocache.js"></script>
    <script>
        function jsmeOnLoad() {
            jsmeApplet = new JSApplet.JSME("jsme_container", "500px", "400px", {"options" : "newlook, marker"})
        }
    </script>
{% endblock %}